---
import MeridianNav from './components/MeridianNav.astro';
import MeridianHero from './components/sections/MeridianHero.astro';
import MeridianClients from './components/sections/MeridianClients.astro';
import MeridianAbout from './components/sections/MeridianAbout.astro';
import MeridianServices from './components/sections/MeridianServices.astro';
import MeridianCaseStudies from './components/sections/MeridianCaseStudies.astro';
import MeridianTeam from './components/sections/MeridianTeam.astro';
import MeridianTestimonials from './components/sections/MeridianTestimonials.astro';
import MeridianContact from './components/sections/MeridianContact.astro';
import MeridianFooter from './components/sections/MeridianFooter.astro';
import './styles/meridian.css';
---

<div class="meridian-page">
  <MeridianNav />
  <MeridianHero />
  <MeridianClients />
  <MeridianAbout />
  <MeridianServices />
  <MeridianCaseStudies />
  <MeridianTeam />
  <MeridianTestimonials />
  <MeridianContact />
  <MeridianFooter />
</div>
