---
import PrismNav from './components/PrismNav.astro';
import PrismHero from './components/sections/PrismHero.astro';
import PrismMarquee from './components/sections/PrismMarquee.astro';
import PrismWhatWeBuild from './components/sections/PrismWhatWeBuild.astro';
import PrismProcess from './components/sections/PrismProcess.astro';
import PrismTechnologies from './components/sections/PrismTechnologies.astro';
import PrismStats from './components/sections/PrismStats.astro';
import PrismTestimonials from './components/sections/PrismTestimonials.astro';
import PrismCTA from './components/sections/PrismCTA.astro';
import PrismFooter from './components/sections/PrismFooter.astro';
import './styles/prism.css';
---

<div class="prism-page">
  <PrismNav />
  <PrismHero />
  <PrismMarquee />
  <PrismWhatWeBuild />
  <PrismProcess />
  <PrismTechnologies />
  <PrismStats />
  <PrismTestimonials />
  <PrismCTA />
  <PrismFooter />
</div>
