---
import NexusNav from './components/NexusNav.astro';
import NexusHero from './components/sections/NexusHero.astro';
import NexusDashboard from './components/sections/NexusDashboard.astro';
import NexusProducts from './components/sections/NexusProducts.astro';
import NexusServices from './components/sections/NexusServices.astro';
import NexusPricing from './components/sections/NexusPricing.astro';
import NexusStats from './components/sections/NexusStats.astro';
import NexusTestimonials from './components/sections/NexusTestimonials.astro';
import NexusCTA from './components/sections/NexusCTA.astro';
import NexusFooter from './components/sections/NexusFooter.astro';
import './styles/nexus.css';
---

<div class="nexus-page">
  <NexusNav />
  <NexusHero />
  <NexusDashboard />
  <NexusProducts />
  <NexusServices />
  <NexusPricing />
  <NexusStats />
  <NexusTestimonials />
  <NexusCTA />
  <NexusFooter />
</div>
