---
import QuantumNav from './components/QuantumNav.astro';
import QuantumHero from './components/sections/QuantumHero.astro';
import QuantumTrustedBy from './components/sections/QuantumTrustedBy.astro';
import QuantumServices from './components/sections/QuantumServices.astro';
import QuantumProcess from './components/sections/QuantumProcess.astro';
import QuantumStats from './components/sections/QuantumStats.astro';
import QuantumTechStack from './components/sections/QuantumTechStack.astro';
import QuantumTestimonials from './components/sections/QuantumTestimonials.astro';
import QuantumCTA from './components/sections/QuantumCTA.astro';
import QuantumFooter from './components/sections/QuantumFooter.astro';
import './styles/quantum.css';
---

<div class="quantum-page quantum-grid-bg">
  <QuantumNav />
  <QuantumHero />
  <QuantumTrustedBy />
  <QuantumServices />
  <QuantumProcess />
  <QuantumStats />
  <QuantumTechStack />
  <QuantumTestimonials />
  <QuantumCTA />
  <QuantumFooter />
</div>
