---
import ForgeNav from './components/ForgeNav.astro';
import ForgeHero from './components/sections/ForgeHero.astro';
import ForgeAbout from './components/sections/ForgeAbout.astro';
import ForgeServices from './components/sections/ForgeServices.astro';
import ForgeTechnologies from './components/sections/ForgeTechnologies.astro';
import ForgeMarquee from './components/sections/ForgeMarquee.astro';
import ForgeCaseStudies from './components/sections/ForgeCaseStudies.astro';
import ForgeProcess from './components/sections/ForgeProcess.astro';
import ForgeStats from './components/sections/ForgeStats.astro';
import ForgeTestimonials from './components/sections/ForgeTestimonials.astro';
import ForgeCTA from './components/sections/ForgeCTA.astro';
import ForgeFooter from './components/sections/ForgeFooter.astro';
import './styles/forge.css';
---

<div class="forge-page">
  <ForgeNav />
  <ForgeHero />
  <ForgeAbout />
  <ForgeServices />
  <ForgeTechnologies />
  <ForgeMarquee />
  <ForgeCaseStudies />
  <ForgeProcess />
  <ForgeStats />
  <ForgeTestimonials />
  <ForgeCTA />
  <ForgeFooter />
</div>
